body{
    background-color: rgb(36, 117, 168)
}
.form{
    background-color: rgb(53, 134, 221);
    height: 500px;
    width:  500px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 120px;
    padding-top:10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.form input{
    display: block;
    box-sizing: border-box;
}
.menubalk {
    background-color: #333;
    overflow: hidden;
}
.menubalk li{
  list-style: none;
}
.menubalk a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .menubalk a:hover {
    background-color: rgb(129, 126, 143);
    color: black;
  }
  .menubalk a.active {
    background-color: #3bd1ff;
    color: white;
  }
  .homepage-title h2{
    text-align: center;
  }
  table {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    background-color: #f4f4f4;
    padding: 10px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
  }
  
  th {
    padding: 10px;
    border: 1px solid #000;
    background-color: #ccc;
  }
  
  td {
    padding: 10px;
    border: 1px solid #000;
  }
  
  tr:hover {
    background-color: #ddd;
  }

  #login-form {
    background-color: white;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

#login-form h1 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 24px;
    color: #333;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 16px;
    color: #333;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
}

#login-form input[type="submit"] {
    background-color: #4caf50;
    border: 0;
    color: white;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
}

#login-form input[type="submit"]:hover {
    opacity: 0.8;
}
.btn {
  display: inline-block;
  padding: 6px 10px;
  background-color: #00ffff;
  color: rgb(72, 145, 36);
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #291b06;
}